*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
}
header{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #000;
}


.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1vw;  /*vai dar espeço entre as fotos*/
  padding: 0 1vw; /*vai dar um espaço na foto da parede*/
}
.galeria-items{
  width: 340px;
  height: 340px;
  border: 10px solid #FFF;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform .1s linear; /*velocidade do efeito de aumentar a foto*/
}
.galeria-items img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*tirando isso a img vai ficar do tamnho da quadrado*/
}

.galeria-ultima img {
  width: 100%;
  height: 100%;
}

/*efeito*/
.galeria-items:hover{
  transform: scale(1.03); /*efeito que aumenta o tamanho da img*/
}

.container{
  display:grid;
  grid-template-columns: repeat(3, 2fr); /* vai determinar linha a e coluna */
  grid-auto-rows:500px 500px;/* vai aumentar o tamanho das img de uma culuna */
  grid-gap:0px; /* vai dar um pequeno espeço nas img*/
  grid-auto-flow: dense;
}

/* vai deixar as img enquadrada */
.gallery-item{
  width:100%;
  height:100%;
  position:relative;
}


.gallery-item .image{
  width:100%;
  height:100%;
  overflow:hidden;
}


.gallery-item .image img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position:50% 50%;
  cursor:pointer;
  transition:.5s ease-in-out;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-style: italic;
}


/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */